<section>

<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<div class="jumbotron">
  <h1>Total amount of categories: <%= link_to @category.count, admin_products_path %></h1>
</div>

<% total = 0 %>
  <% @category.each do |item| %>
    <% total += item.products.count %>
  <% end %>

<div class="jumbotron">
  <h1>Total amount of products: <%= link_to total, admin_products_path %> </h1>
</div>